# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables - NEVER COMMIT THESE!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
**/config/secrets.ts
**/config/secrets.js

# Secrets and keys
*.key
*.pem
*.p12
*.pfx
*.cert
secrets/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Testing
coverage/
.nyc_output/
*.lcov

# Temporary files
*.tmp
*.temp
.cache/
.parcel-cache/

# Database
*.db
*.sqlite
*.sqlite3

# Uploads --> to not commit some locals  uploads
uploads/
public/uploads/
static/uploads/
# Database architecture diagrams/pngs
*database_arch_v1.png
*database_arch_v2.png
*frontend-architecture.md
*importantInfo.md